<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>クリンゴン語学習クイズマイページ</title>
</head>
<body>

<center>
<h2>第<%= session[:page] %>問</h2>
</center>

<% @question_record.each do |q| %>
クリンゴン語: <%= q.word %><br>
<% end %>
不正解<br>
正しい答え: 
<% @correct_record.each do |a| %>
<%= a.word %><br>
<% end %>

<table width="100%">

<tr>
<td align="right">
<form style="display:inline;" method="post" action="next">
<input type="submit" value="次の問題">
</form>
</td>
</tr>

<a href="/mypage">クイズ終了(結果は保存されません)</a>

</table>

</body>
</html>