IDとパスワードを入力してください<br>

<form action="/auth" method="post">
ID: <input type="text" name="uid" size="40" maxlength="20"><br>
パスワード: <input type="password" name="pass" size="40" maxlength="30"><br>
<br>
<input type="submit" value="ログイン">
<input type="reset" value="リセット">
</form>

<a href="/signup">新規アカウント作成</a>
